extends layout

block content
    .body.body-bg
        .container
            nav.navbar
                a.link(href='/registroAviones')
                    button.button Registrar Avion
                a.link(href='/updateAvion')
                    button.button Modificar Avion
                a.link(href='/listaAvion')
                    button.button Eliminar Avion
                a.link(href='/listaAvion')
                    button.button Lista de Avion
                a.link(href='/')
                    button.button1 Home

            
                    