/*Letras*/
@font-face{
  font-family: 'Caviar';
  src: url('../font/CaviarDreams_BoldItalic.ttf');
  font-weight: normal;
  font-style: normal;
}
/*Letras*/

/*Header*/
.header {
  display: flex;
  width: 100%;
  padding: 0 10px;
  height: 100px;
}
.header-logo{
  flex: 1 1 300px;
  padding: 20px;
}

.header-logo img{
  max-width: 300px;
}

.header-navbar{
  font-family: 'Caviar';
  color: rgb(20, 100, 248);
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0 10% 0;
  padding: 0;
  z-index: 3;
}

ul.header-navbar li.header-navbar_list {
  list-style: none;
  margin: 0 10px;
  padding: 4px;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 19px;
  cursor: pointer;
  text-shadow: 2px 2px rgb(43, 7, 112);
  z-index: 3;
}

ul.header-navbar li.header-navbar_list:hover ul.header-navbar_sublist{
  opacity: 1;
  visibility: visible;
  top:70px;
  width: 300px;
  z-index: 3;
}

ul.header-navbar li.header-navbar_list ul.header-navbar_sublist {
  padding: 0;
  position: absolute;
  top:-100px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  z-index: 3;
}

ul.header-navbar li.header-navbar_list ul.header-navbar_sublist li{
  list-style: none;
  padding: 0;
  margin: 0 ;
  line-height: 30px;
  cursor: pointer;
  font-size: 15px;
  text-shadow: none;
  z-index: 3;
}
/*Fin Header*/

/*Body*/
.body-bg{
  background-image: url('../img/img1\ \(3\).jpg');
  background-size: cover;
  width: 100%;
  height: calc(85vh - 50px);
}

/*Carrusel*/
.align-carrusel{
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.content{
  display: grid;
  width: 35%;
  height: 55%;
  background-color: rgb(8,35 ,85);
  margin: 6% 2%;
  border-radius: 23%;
  box-shadow: 0px 0px 30px 0px black;
  padding: 1.5%;
  text-shadow: 1px 2px #000000;
}
/*Fin Carrusel*/
/*Fin body*/


/*Footer*/
.footer{
  font-family: 'Caviar';
  color: white;
  height: 100px;
  width: 100%;
  background-color: rgb(10, 30, 75);
  padding: 0;
  margin: 0;
  bottom: 50%;
  box-shadow: 1px 1px 20px 3px rgb(8, 35, 85) ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-left {
  flex: 33.33%;
  text-align: center;
}

.footer-center {
  flex: 33.33%;
  text-align: center;
}

.footer-right{
  flex: 33.33%;
  text-align: center;
}
/*Fin Footer*/

/*tablas*/
.table-container{
  max-height: 420px;
  overflow: scroll;
  width: 100%;
}

.thead{
  background-color: rgb(16, 10, 75);
  color: white;
}
/*Cierra Tablas*/

/*Botones*/
.bottom{
  margin: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.bottom-row{
  padding: 10px 70px ;
}
/*Cierra Botones*/