body {background: url(http://1.bp.blogspot.com/-dOJJ6RqpLsM/VQlQFTWbY9I/AAAAAAAAQ-w/ybsFdFNhSrk/s1600/avion-al-atardecer-viaja-bonito-02.jpg) no-repeat center fixed;
background-size:cover;
margin:0;
padding:0;}

p {color: white;font-family: Arial, Helvetica, sans-serif;}
center {align-content: center;margin:0;padding:0;}
footer { position: fixed;  left: 0;  bottom: 0;  right:0;  width: 100%;  height: 1vh;  font-size: 1.3vw;  background-color: red; color: white;  text-align: center;  display: table;  vertical-align: bottom;  padding: 0px;  margin:0;}
html{margin:0;padding:0;}
img{justify-content: center;  align-items: center;  display: flex;}
header{justify-content: center;  align-items: center;  display: flex;}
.navbar2{color: black;font-family: Arial, Helvetica, sans-serif; }
a{color: white;font-family: Arial, Helvetica, sans-serif;font-size: 45%;text-decoration: none;}
.navbar{font-size: 3vw; display:flex; justify-content: center; align-items: center; margin:0; padding:0; width:100%}
.brand-title{font-size:3.5vh;position: fixed; top:47.5vh;}
.container-fluid{align-content: center; justify-content: center;}
.brand-title{font-style: italic;font-family:helvetica;font-size:3.5vh;position: fixed; top:47.5vh;}
.t1{font-style: italic;font-family:helvetica;}
.t2{font-family:helvetica;}
.container2{align-content: center; justify-content: center; padding: 16px;}

h1{
  color: white;font-family: Arial, Helvetica, sans-serif;
}

/* Formulario */
input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

/* Linea del formulario */
hr {
  border: 1px solid black;
  margin-bottom: 25px;
}

/* Boton de registro */
.registerbtn {
  background-color:rgb(202, 1, 175);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

.registerbtn:hover{
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
background-color:white;
text-align: center;
}